@@SET@@ WHEREAMI = $1
  <div id='header'>
    <h2 class="button">Documentation</h2>
    @@INCLUDE@@ navbutton.tmpl @_WHEREAMI_@ "INDEX" "index.html" "Table of Contents"
    @@INCLUDE@@ navbutton.tmpl @_WHEREAMI_@ "CLASS_TREE" "tree.html" "Class Inheritance Tree"
    @@IF@@ @_EXIST:USER_DEFINED_FILES_@
    @@TABLE@@
      @@INCLUDE@@ navbutton.tmpl "@_WHEREAMI_@" "@_USER_DEFINED_FILES_@" "@_USER_DEFINED_FILES_@" "@_USER_DEFINED_NAMES_@"
    @@END_TABLE@@
    @@END_IF@@
  </div>
