<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html><head>
  <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript"/>

  <title>
    File: @_SOURCE_FILE_@
  </title>
  <link rel='stylesheet' href='support/docgen.css' type='text/css'/>
  <script src='support/docgen.js' type='text/javascript' charset='utf-8'></script>
</head>
<body onload="onloadDoc();">

<div id='leftSide'>
  <div id='leftSideInside'>
  @@INCLUDE@@ navigation.tmpl
  </div>
</div> <!-- leftSide -->

<div class='subprograms'>
  <div class='details'>@_PRINTOUT_@</div>
</div>

</body>
</html>
