# submodules
/design
/gnatlib

*.a
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
*/config.log
*/config.status
*/obj/*
!gps/obj/gps-gdb.py
.#*
./Makefile
.gpsrcs
.gpssnprj
Makefile.common
b~*
b__*
*.d
*.cgpr
/Makefile
shared.gpr
common/Makefile.common
common/common.gpr
common/expect/Makefile
common/core/src/config.ads
common/core/obj/*
gnatinspect.db*
*-msg.xml
*-loc.xml
config.log
config.status
ada_module/ui/obj/ada_semantic_tree-test
design/tests/M806-002/result.out
design/tests/F221-006/hello.adb.redo_0
design/tests/F221-006/hello.adb.redo_1
design/tests/F221-006/hello.adb.redo_2
design/tests/F221-006/hello.adb.redo_3
design/tests/F221-006/hello.adb.redo_4
design/tests/F221-006/hello.adb.redo_5
design/tests/F221-006/hello.adb.save_0
design/tests/F221-006/hello.adb.save_1
design/tests/F221-006/hello.adb.save_2
design/tests/F221-006/hello.adb.save_3
design/tests/F221-006/hello.adb.save_4
design/tests/F221-006/hello.adb.save_5
design/tests/F221-006/hello.adb.undo_0
design/tests/F221-006/hello.adb.undo_1
design/tests/F221-006/hello.adb.undo_2
design/tests/F221-006/hello.adb.undo_3
design/tests/F221-006/hello.adb.undo_4
design/tests/F221-006/hello.adb.undo_5
design/tests/F223-022/test.py
design/tests/F502-040/out
design/tests/F620-009/foo2.adb
design/tests/F801-019/src/
design/tests/F830-003/locations_1.xml
design/tests/F830-003/locations_2.xml
design/tests/F830-003/locations_3.xml
design/tests/F830-003/struct/instructions.adb
design/tests/F921-003/a.adb
design/tests/FA02-002/test.c
design/tests/FA10-030/test.ads
design/tests/FA30-018/default.gpr
design/tests/FB02-017/b.adb
design/tests/FB03-003/src1/a.adb.npp
design/tests/FB03-003/src2/a.adb.npp
design/tests/FB03-003/src2/b.adb.npp
design/tests/FB03-022/result.out
design/tests/FB10-014/a.adb
design/tests/FC01-011/test.gpr
design/tests/FC08-004/locations.xml
design/tests/FC11-023/text_1.txt
design/tests/FC11-023/text_2.txt
design/tests/G119-006/a.adb
design/tests/G216-042/.gps/clipboards.xml
design/tests/G216-042/.gps/custom_key
design/tests/G216-042/.gps/histories.xml
design/tests/G216-042/.gps/log_files/
design/tests/G216-042/.gps/properties.xml
design/tests/G216-042/.gps/styles.xml
design/tests/G319-008/output
design/tests/G321-024/out.new
design/tests/G322-009/out.new
design/tests/G420-033/default.gpr
design/tests/G423-010/a.adb.old
design/tests/G423-010/b.adb.old
design/tests/G423-010/c.adb.old
design/tests/G423-010/test.new
design/tests/G523-021/out.new
design/tests/G713-003/align.adb
design/tests/G905-018/.gps/clipboards.xml
design/tests/G905-018/.gps/custom_key
design/tests/G905-018/.gps/histories.xml
design/tests/G905-018/.gps/locations.xml
design/tests/G905-018/.gps/properties.xml
design/tests/G905-018/.gps/styles.xml
design/tests/GB09-007/dump.xml
design/tests/GB09-007/dump_stripped.xml
design/tests/GB29-015/out
design/tests/GB29-015/out.nocr
design/tests/GC09-009/test.res
design/tests/GC12-017/align.adb
design/tests/GC14-007/a.out.new
design/tests/GC14-007/b.out.new
design/tests/GC19-017/.gps/
design/tests/GC19-017/obj/
design/tests/H423-022-refactor_ro/a.adb
design/tests/H423-022-refactor_ro/a.ads
design/tests/H423-022-refactor_ro/b.adb
design/tests/H616-008_renaming/a.adb
design/tests/H616-008_renaming/a.ads
design/tests/H711-009.src_editor/tata
design/tests/H711-009.src_editor/titi
design/tests/H711-009.src_editor/toto
design/tests/H724-004/dump.xml
design/tests/H821-010-activity-patch-rel-path/test.res
design/tests/H930-013/foo.adb
design/tests/HA30-020/hello.adb
design/tests/HA30-020_2/sdc
design/tests/HA30-020_2/sdc.adb
design/tests/HB20-008/remote/
design/tests/HC01-002-refactor_ro_no_acl/a.adb
design/tests/HC01-002-refactor_ro_no_acl/a.ads
design/tests/HC01-002-refactor_ro_no_acl/b.adb
design/tests/HC10-015/t.adb
design/tests/HC22-012-auto-casing/t.adb
design/tests/I115-004/locations.xml
design/tests/L530-024_doc/default.gpr
design/tests/L530-024_doc/GPS.rst
design/tests/L530-024_doc/GPS.rst.stripped
design/tests/I617-007/bin/pogs
design/tests/I617-007/default.sum
design/tests/F620-010/default.gpr
design/tests/FC20-006/default.gpr
design/tests/aliases.G613-006/a.adb
design/tests/align.1/a.adb
design/tests/builder.1/prj/dummy.gpr
design/tests/builder.1/prj/locations.xml
design/tests/code_analysis.1/dump.xml
design/tests/code_analysis.1/dump_stripped.xml
design/tests/code_analysis.2/test.xml
design/tests/code_analysis.2/test_stripped.xml
design/tests/code_analysis.3/test.xml
design/tests/code_analysis.3/test_stripped.xml
design/tests/code_coverage/dump.xml
design/tests/code_coverage/dump_stripped.xml
design/tests/context_menu/empty.adb
design/tests/context_menu/empty.txt
design/tests/context_menu/report.txt
design/tests/debug.parsing.9/output
design/tests/debug.parsing.9/output.filtered
design/tests/languages.1/out
design/tests/locations_view.1/dump.xml
design/tests/locations_view.1/dump_stripped.xml
design/tests/mdi.13/.gps/
design/tests/prj_editor.19/default.gpr
design/tests/prj_editor.19/default.gpr.new
design/tests/prj_editor.21/out.5848
design/tests/refactor.1/src/a.adb
design/tests/refactor.1/src/a.ads
design/tests/refactor.1/src/b.adb
design/tests/refactor.1/src/c.adb
design/tests/refactor.1/src/extract1-1.adb
design/tests/refactor.1/src/extract1-2.adb
design/tests/refactor.1/src/extract1-3.adb
design/tests/refactor.1/src/extract1.adb
design/tests/refactor.1/src/extract1.ads
design/tests/refactor.1/src/extract2-1.adb
design/tests/refactor.1/src/extract2.adb
design/tests/refactor.1/src/extract2.ads
design/tests/refactor.1/src/extract3-1.adb
design/tests/refactor.1/src/extract3.adb
design/tests/refactor.1/src/extract3.ads
design/tests/refactor.1/src/extract4-1.adb
design/tests/refactor.1/src/extract4.adb
design/tests/refactor.1/src/extract4.ads
design/tests/search.2_2/a.adb
design/tests/serialize/foo.txt.out
design/tests/shortcuts.7/a.adb
design/tests/src_editor.10/out
design/tests/src_editor.11/out
design/tests/src_editor.13/a.adb
design/tests/src_editor.40/a.adb
design/tests/src_editor.6/out
design/tests/src_editor.9/out
design/tests/src_editor.9/out2
design/tests/src_editor.UTF8_torture/.gps/clipboards.xml
design/tests/src_editor.UTF8_torture/.gps/custom_key
design/tests/src_editor.UTF8_torture/.gps/histories.xml
design/tests/src_editor.UTF8_torture/.gps/log_files/
design/tests/src_editor.UTF8_torture/.gps/properties.xml
design/tests/src_editor.UTF8_torture/.gps/styles.xml
design/tests/src_editor.tabs_torture/.gps/clipboards.xml
design/tests/src_editor.tabs_torture/.gps/custom_key
design/tests/src_editor.tabs_torture/.gps/histories.xml
design/tests/src_editor.tabs_torture/.gps/log_files/
design/tests/src_editor.tabs_torture/.gps/properties.xml
design/tests/src_editor.tabs_torture/.gps/styles.xml
design/tests/K303-003/codepeer/
design/tests/K303-003/p.adb
design/tests/switches.1/default.gpr
design/tests/switches.1/default.gpr.new
design/tests/switches.3/default.gpr
design/tests/switches.3/default.gpr.new
design/tests/tmp_home
design/tests/wizard.1/foo.gpr
design/tests/wizard.1/foo.gpr.new
design/tests/wizard.2/foo.gpr
design/tests/wizard.2/foo.gpr.new
docs/Makefile
docs/programmers_guide/_build/
docs/users_guide/_build/
docs/tutorial/_build/
docs/release_notes/build/
docs/gps-welcome.html
docs/gps-welcome-public.html
docs/gps
docs/gps.aux
docs/gps.cp
docs/gps.fn
docs/gps.ky
docs/gps.log
docs/gps.pdf
docs/gps.pg
docs/gps.toc
docs/gps.tp
docs/gps.txt
docs/gps.vr
gnat/*
gnat_src
gnatlib/Makefile.conf
gnatlib/distrib/gnatcoll.gpr
gnatlib/distrib/gnatcoll_gmp.gpr
gnatlib/distrib/gnatcoll_python.gpr
gnatlib/distrib/relocatable/gnatcoll.gpr
gnatlib/distrib/static/gnatcoll.gpr
gnatlib/gnatcoll_shared.gpr
gnatlib/src/gnatcoll_gmp.gpr
gnatlib/src/gnatcoll_python.gpr
gnatlib/src/lib
gnatlib/src/obj
gnatlib/testsuite/obj
gnatlib/testsuite/scripts/M701-028-dict-iter/bin
gps/gmon.out*
po/Makefile
scripts/sortxml
share/support/core/protocols.py
share/support/core/runtime.py
share/icons/light/svg
templates_parser
widgets/Makefile.widgets
vsearch/tests/obj/run
osx_bundle/Makefile
osx_bundle/scripts/install.py
examples/tutorial/obj/sdc
gnatdoc/resources/html/compiler.jar
