# submodules
/design
/gnatlib

*.a
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
*/config.log
*/config.status
*/obj/*
!gps/obj/gps-gdb.py
.#*
./Makefile
.gpsrcs
.gpssnprj
Makefile.common
b~*
b__*
*.d
*.cgpr
/Makefile
shared.gpr
common/Makefile.common
common/common.gpr
common/expect/Makefile
common/core/src/config.ads
common/core/obj/*
gnatinspect.db*
*-msg.xml
*-loc.xml
config.log
config.status
ada_module/ui/obj/ada_semantic_tree-test
docs/Makefile
docs/programmers_guide/_build/
docs/users_guide/_build/
docs/tutorial/_build/
docs/release_notes/build/
docs/gps-welcome.html
docs/gps-welcome-public.html
docs/gps
docs/gps.aux
docs/gps.cp
docs/gps.fn
docs/gps.ky
docs/gps.log
docs/gps.pdf
docs/gps.pg
docs/gps.toc
docs/gps.tp
docs/gps.txt
docs/gps.vr
gnat/*
gnat_src
gps/gmon.out*
po/Makefile
scripts/sortxml
share/support/core/protocols.py
share/support/core/runtime.py
share/icons/light/svg
templates_parser
widgets/Makefile.widgets
vsearch/tests/obj/run
osx_bundle/Makefile
osx_bundle/scripts/install.py
examples/tutorial/obj/sdc
gnatdoc/resources/html/compiler.jar
kernel/generated/
