# submodules
/design
/gnatlib

*.a
*.ali
*.gli
*.exe
*.gcda
*.gcno
*.gcov
*.bexch
*.o
*.deps
*.pyc
*/config.log
*/config.status
*/obj/*
*/core/obj/*
*/ui/obj/*
*/*/obj/codepeer/*
!gps/obj/gps-gdb.py
.#*
./Makefile
.gpsrcs
.gpssnprj
Makefile.common
autom4te.cache
b~*
b__*
*.d
*.cgpr
/Makefile
shared.gpr
common/common.gpr
common/expect/Makefile
common/core/src/config.ads
common/core/obj/*
gnatinspect.db*
*-msg.xml
*-loc.xml
config.log
config.status
ada_module/ui/obj/ada_semantic_tree-test
docs/Makefile
docs/programmers_guide/_build/
docs/users_guide/_build/
docs/tutorial/_build/
docs/release_notes/build/
docs/release_notes_17/build/
docs/users_guide/GPS/generated_hooks.py
docs/gps-welcome.html
docs/gps-welcome-public.html
docs/gps
docs/gps.aux
docs/gps.cp
docs/gps.fn
docs/gps.ky
docs/gps.log
docs/gps.pdf
docs/gps.pg
docs/gps.toc
docs/gps.tp
docs/gps.txt
docs/gps.vr
gnat/*
gnat_src
gnatdoc/docs/users_guide/_build/
gps/gmon.out*
po/Makefile
laltools
scripts/sortxml
share/support/core/protocols.py
share/icons/light/svg
templates_parser
widgets/Makefile.widgets
vsearch/tests/obj/run
osx_bundle/Makefile
osx_bundle/scripts/install.py
examples/tutorial/obj/sdc
gnatdoc/resources/html/compiler.jar
kernel/generated/
testsuite/bin/ada_semantic_tree-test_driver
testsuite/bin/completion-test_driver
testsuite/bin/gnatdoc-backend-parser_test
testsuite/bin/run_vsearch
testsuite/bin/sortxml
testsuite/bin/syntax_gnatdiff
testsuite/bin/syntax_gnathighlight
testsuite/bin/syntax_gnatparse
testsuite/bin/syntax_gnatpp
testsuite/bin/syntax_gnatunit
testsuite/bin/test_arrays
testsuite/bin/test_cmd_line
testsuite/bin/test_htables
testsuite/bin/test_parse
testsuite/bin/test_parse_c
testsuite/bin/test_parse_cpp
testsuite/bin/test_strings
testsuite/bin/test_trie
testsuite/share/
testsuite/out
