html, body {
    height: 99%;
    width: 99%;
    margin: 0px;
    border: 0px;
    padding: 0px;
    outline: 0px;
}

.comment {
    color: #999988;
    font-style: italic;
}

.keyword {
    font-weight: bold;
}

#tocView {
    width: 15%;
    float: left;
}

#contentView {
    width: 80%;
    height: 100%;
    border: 0px;
}

table.code tbody th {
    font-size: 11px;
    text-align: right;
    font-weight: normal;
}

table.code td {
    font-size: 11px;
    font-family: monospace;
    white-space: pre;
}

table.entities tr {
    text-align: left;
}
