package body @_TEST_CASE_PACKAGE_@ is

   @@IF@@ @_OVERRIDE_SET_UP_@
   ------------
   -- Set_Up --
   ------------

   procedure Set_Up (T : in out @_TEST_CASE_TYPE_@) is
      pragma Unreferenced (T);
   begin
      null;
   end Set_Up;

   @@END_IF@@
   @@IF@@ @_OVERRIDE_TEAR_DOWN_@
   ---------------
   -- Tear_Down --
   ---------------

   procedure Tear_Down (T : in out @_TEST_CASE_TYPE_@) is
      pragma Unreferenced (T);
   begin
      null;
   end Tear_Down;

   @@END_IF@@
   ----------
   -- Name --
   ----------

   function Name (T : @_TEST_CASE_TYPE_@)
                  return Test_String is
   begin
      return Format ("@_TEST_CASE_DESCRIPTION_@");
   end Name;

   --------------------
   -- Register_Tests --
   --------------------

   procedure Register_Tests (T : in out @_TEST_CASE_TYPE_@) is
   begin
      null;
   end Register_Tests;

end @_TEST_CASE_PACKAGE_@;
