with AUnit.Test_Cases; use AUnit;

package @_TEST_CASE_PACKAGE_@ is

   type @_TEST_CASE_TYPE_@ is new
     AUnit.Test_Cases.Test_Case with null record;

   @@IF@@ @_OVERRIDE_SET_UP_@
   procedure Set_Up (T : in out @_TEST_CASE_TYPE_@);
   --  Preparation performed before each routine

   @@END_IF@@
   @@IF@@ @_OVERRIDE_TEAR_DOWN_@
   procedure Tear_Down (T : in out @_TEST_CASE_TYPE_@);
   --  Cleanup performed after each routine

   @@END_IF@@
   procedure Register_Tests (T : in out @_TEST_CASE_TYPE_@);
   --  Register routines to be run

   function Name (T : @_TEST_CASE_TYPE_@)
                  return Test_String;
   --  Returns name identifying the test case

end @_TEST_CASE_PACKAGE_@;
