body
{
   background: #F4F4F4;
   font-family: arial, verdana;
   font-size: 12px;
   margin: 0px 0px 0px 205px;
   height: 100%;
}

h1,
h2
{
   padding: 0px 0px 0px 5px;
   margin: 0px;
   font-variant: small-caps;
   font-size: 14px;
}

a:link,
a:active,
a:visited
{
   text-decoration: none;
   color: blue;
}
a:hover
{
   color: red;
}

a.hide:link,
a.hide:active,
a.hide:hover,
a.hide:visited
{
   color: black;
   margin-right: 5px;
}

div#topBar
{
   position: fixed;
   top: 0px;
   left: 0px;
   height: 40px;
   width: 100%;
   margin: 0px;
   padding: 0px;
   text-align: center;
   z-index: 21;
   background: transparent url(../support/images/menubarleft.png) no-repeat 193px 0px;
}

div#topBarLinks
{
   padding-top: 10px;
   padding-right: 20px;
   margin-left: 205px;
   height: 40px;
   background: transparent url(../support/images/menubar.png) repeat-x top;
}

/* Generate page layout */
div#leftSide
{
   position: fixed;
   top: 0px;
   left: 0px;
   width: 205px;
   margin: 0px;
   padding: 0px;
   padding-bottom: 31px;
   background: transparent url(../support/images/sidebarframebottom.png) no-repeat bottom;
   z-index: 20;
}

div#leftSide div#leftSideInside
{
   width: 205px;
   padding-top: 5px;
   margin: 0px;
   border: 0px;
   background: url(../support/images/sidebarframe.png) no-repeat;
}

div#leftSideInside div
{
   padding-top: 10px;
   margin-top: 0px;
}

div#leftSideInside .button
{
   position: relative;
   width: 185px;
   background: transparent url(../support/images/nav1_btn_up.png) no-repeat right;
   height: 27px;
   padding: 3px 0px 0px 5px;
   z-index: 10;
}
div#leftSideInside a .button
{
   color: #2020A0;
}
div#leftSideInside a:hover .button
{
   color: #A02020;
   background: transparent url(../support/images/nav1_btn_mo.png) no-repeat right;
}

div#leftSideInside a
{
   position: relative;
   z-index: 1;
}
div#leftSideInside i .button2,
div#leftSideInside a .button2
{
   position: relative;
   margin: -6px 0px 0px 0px;
   height: 26px;
   width: 183px;
   padding: 5px 0px 0px 5px;
   background: transparent url(../support/images/nav2_btn_up.png) no-repeat right 0px;
   list-style-type: none;
   list-style-position: inside;
   z-index: 1;
}
div#leftSideInside i .button2
{
   color: #802020;
}
div#leftSideInside a .button2
{
   color: #2020A0;
}
div#leftSideInside a:hover .button2
{
   color: #A02020;
   background: transparent url(../support/images/nav2_btn_mo.png) no-repeat right 0px;
}

#rightSide
{
   float: right;
   width: 205px;
   margin: 0px 0px 0px 0px;
   padding: 0px;
   padding-bottom: 31px;
   background: transparent url(../support/images/rightsidebottom.png) no-repeat bottom;
}
div#rightSide div#rightSideInside
{
   width: 205px;
   padding-top: 10px;
   padding-left: 12px;
   margin: 0px;
   border: 0px;
   background: url(../support/images/rightside.png) repeat;
}

div#Index ul
{
   margin: 2px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
div#Index li
{
   width: 193px;
   list-style-type: none;
   list-style-position: outside;
   border-top: 1px dotted #c0c0c0;
}
div#Index li a
{
   color: #2020A0;
   padding-left: 20px;
}
div#Index li a:hover
{
   color: #E04040;
}
div#Index li.package-spec a
{
   background: transparent url(../support/images/package-spec.png) no-repeat 3px 0px;
}
div#Index li.task-spec,
div#Index li.protected-spec,
div#Index li.var-spec
{
   background: transparent url(../support/images/variable-spec.png) no-repeat 3px 0px;
}
div#Index li.class-spec,
div#Index li.task-type-spec,
div#Index li.protected-type-spec,
div#Index li.type-spec
{
   background: transparent url(../support/images/type-spec.png) no-repeat 3px 0px;
}
div#Index li.subp-spec
{
   background: transparent url(../support/images/subprogram-spec.png) no-repeat 3px 0px;
}

/* Styles within each region */

#documentation
{
   margin: 0px 0px 0px 0px;
   padding: 0px 210px 10px 0px;
}
div.title,
div.titleTopBar
{
   text-align: center;
   padding: 0px 0px 0px 5px;
   font-weight: bold;
   font-variant: small-caps;
   font-size: 16px;
}
div.title
{
   padding-top: 10px;
}
div.titleTopBar
{
   margin-top: 45px;
}

div.subprograms
{
   margin: 10px 0px 0px 0px;
}

div.subprograms .class
{
   border: 1px solid #c0c0c0;
   margin-top: 5px;
   padding: 0px;
}

div.subprograms .name
{
   color: red;
}
div.subprograms h3
{
   font-size: 1.0em;
   background: #dae3fe;
   padding: 0px 0px 0px 5px;
   margin: 0px 0px 0px 0px;
}
div.subprograms h4
{
   font-size: 1.0em;
   padding: 0px;
   margin: 0px;
}
div.subprograms div.profile
{
   font-family: courier, courier new;
   font-size: 10px;
   padding: 5px 5px 5px 5px;
   background: white;
}
div.subprograms div.details
{
   font-family: courier, courier new;
   font-size: 10px;
   padding-top: 0px;
   padding-left: 5px;
   padding-top: 3px;
   padding-bottom: 3px;
   white-space: pre;
   background: #fafaff;
}
div.subprograms div.details div
{
   white-space: normal;
   padding-left: 0px;
}
div.subprograms div.details table
{
   white-space: normal;
   padding-left: 20px;
}
div.subprograms div.details span.keyword
{
   font-weight: bold;
   color: #970505;
}
div.subprograms div.details span.string
{
   font-style: italic;
   color: #0A9988;
}
div.subprograms div.details span.comment
{
   color: #009000;
}
div.subprograms div.comment
{
   border-top: 1px dotted #c0c0c0;
   background: white;
   padding-left: 5px;
   padding-top: 0px;
   padding-bottom: 0px;
}
div.subprograms div.comment *
{
   margin: 0px;
   padding-top: 3px;
   padding-bottom: 3px;
}

div.subprograms .type,
div.subprograms .type *      { padding-left: 0px;
                               font-weight: normal; }
div.subprograms div.entries
{
   padding: 0px;
   border: 1px solid #c0c0c0;
}
div.subprograms div.parameters,
div.subprograms div.parameters { font-family: "Courier New", Courier;
                                 background: #eee; }

div.subprograms div.parameters div,
div.subprograms div.details div { padding: 0px 0px 0px 0px;
                                  margin: 0px 0px 0px 0px;
                                  border: 0px;}
div.entity
{
   margin-left: 20px;
}
div.classroot,
div.classtree
{
   position: relative;
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 0px 0px;
}
div.classroot
{
   background: transparent url(../support/images/tree_root.png) no-repeat left 0px;
   margin-bottom: 3px;
}
div.classtree
{
   background: transparent url(../support/images/tree_item.png) no-repeat left 0px;
}
div.classtreechildren
{
   position: relative;
   top: -4px;
   margin: 0px 0px 0px 8px;
   padding: 0px 0px 7px 0px;
   background: transparent url(../support/images/treechildren_bg_bottom.png) no-repeat left bottom;
}
div.classtreechildreninside
{
   margin: 0px 0px 0px 0px;
   padding: 0px 0px 5px 8px;
   background: transparent url(../support/images/treechildren_bg.png) repeat-y left;
}
div.classroot h3,
div.classtree h3
{
   position: relative;
   height: 30px;
   font-weight: normal;
   font-size: 12px;
   padding: 4px 0px 0px 15px;
   margin: 0px 0px -6px 0px;
   z-index: 5;
}
