
@define-color gps_active_tab green;
@define-color borders #777777;
@define-color theme_base_color white;

@define-color completion-selected-color #888;
@define-color completions-notes-text-color #444;


.mdi tab GtkLabel, .mdifocused tab GtkLabel {
   color:   black;
   opacity: 1.0;
}

.notebook.mdifocused tab.top:active,
.notebook.mdifocused tab.bottom:active {
   background-image: linear-gradient(to bottom,
                                     @gps_active_tab,
                                     @gps_active_tab 2px,
                                     white 2px,
                                     @theme_base_color);

   border-image-source: -gtk-gradient(linear,
                                      left top, left bottom,
                                      from(@gps_active_tab),
                                      to (@borders));

}
.notebook.mdifocused tab.left:active,
.notebook.mdifocused tab.right:active {
   background-image: linear-gradient(to right,
                                     @gps_active_tab,
                                     @gps_active_tab 2px,
                                     white 2px,
                                     @theme_base_color);
   border-image-source: -gtk-gradient(linear,
                                      left top, right top,
                                      from(@gps_active_tab),
                                      to (@borders));
}

.notebook tab {
    border-width: 1px;
    border-style: solid;
    background-image: none;
    padding: 3px;
}

.menu .menuitem {
    padding: 4px;
}

.gps-local-toolbar {
    border-bottom: 1px solid #d0d0d0;
}
