
@define-color gps_active_tab green;
@define-color borders #777777;
@define-color theme_base_color white;
@define-color theme_fg_color black;

@define-color completion-selected-color #888;
@define-color completions-notes-text-color #444;

GtkButton {
  padding: 4px;
}

.toolbar .button {
  padding: 7px;
}

GtkButtonBox .button {
 padding: 4px;
}

GtkNotebook {
  background: @theme_bg_color;
}

GtkToggleButton GtkBox{
  background: transparent;
}

.mdi tab GtkLabel, .mdifocused tab GtkLabel {
   color:   black;
   opacity: 1.0;
}
.notebook.mdifocused tab:active {
  background-image: none;
  border: 3px solid black;
}

.notebook.mdifocused tab.top:active, .notebook.mdifocused tab.bottom:active {
  border-left-width: 1px;
  border-right-width: 1px;
}

.notebook.mdifocused tab.left:active, .notebook.mdifocused tab.right:active {
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.notebook.mdifocused tab.top:active{ border-top-color: @gps_active_tab; }
.notebook.mdifocused tab.bottom:active{ border-bottom-color: @gps_active_tab; }
.notebook.mdifocused tab.left:active{ border-left-color: @gps_active_tab; }
.notebook.mdifocused tab.right:active{ border-right-color: @gps_active_tab; }

.notebook tab {
    border-width: 1px;
    border-style: solid;
    background-image: none;
    padding: 5px;
    background: white;
}

.menu .menuitem {
    padding: 4px;
}

.gps-local-toolbar {
    border-bottom: 1px solid #d0d0d0;
}

.gps-local-toolbar .button {
   padding: 3px;
}

GtkWindow,
GtkViewport {
    background-color: @theme_bg_color;
}
