@define-color notebook_background #f0f0f0;
@define-color mdi_border_color #e0e0e0;

@define-color borders #777777;
@define-color theme_base_color white;
@define-color theme_bg_color @notebook_background;
@define-color theme_fg_color black;
@define-color active_tab_color white;

@define-color completion-selected-color #888;
@define-color completions-notes-text-color #444;

GtkButton {
  padding: 4px;
}

.toolbar .button {
  padding: 7px;
}

GtkWindow.tooltip GtkWidget {
   padding: 7px;
   background-color: shade(@notebook_background,0.9);
}

GtkButtonBox .button {
 padding: 4px;
}

GtkNotebook {
  background: @theme_bg_color;
}

.notebook.mdi tab {
  box-shadow: none;
}

.notebook.mdi tab:active {
  box-shadow: none;
  background-color: @active_tab_color;
}

.notebook {
   -GtkNotebook-tab-overlap: 1;
}

GtkToggleButton GtkBox{
  background: transparent;
}

.mdi tab GtkLabel, .mdifocused tab GtkLabel {
   color:   black;
   opacity: 1.0;
}

.notebook {
   background-color: @notebook_background;
}

.menu .menuitem {
    padding: 1px;
}

GtkMenu {
  border: 1px solid #909090;
}

.gps-local-toolbar {
    border-bottom: 1px solid #d0d0d0;
}

.gps-local-toolbar .button {
   padding: 3px;
}

.button {
   padding: 6px;
}

GtkWindow,
GtkViewport {
    background-color: @theme_bg_color;
}
