/*
 * Custom styling for GPS.
 */

/* You can override the default theme colors. Most gtk+ themes are
 * carefully setup so that they do not hard-code colors, but use a number
 * of predefined named colors and shades of them. For instance:
 */

/*
   @define-color base_color black;
   @define-color bg_color #fff;
   @define-color theme_bg_color green;
   @define-color theme_tooltip_bg_color yellow;
*/

.gps-task-manager GtkProgressBar {
   -GtkProgressBar-min-horizontal-bar-height: 1;
}

.gps-local-toolbar {  /* local toolbar in the panes/views */
   background: shade(@theme_bg_color, 0.9);
}

.mdi {
   /* background: shade(@theme_bg_color, 0.9); */
}

.notebook.leftTabs, .notebook.rightTabs {
   -GtkNotebook-initial-gap: 0;
}

.gps-local-toolbar {
   padding: 0px;
}
.gps-local-toolbar * {
   margin: 0px;
   padding: 0px;
}

/* Search and filter fields */
GtkEntry.search {
  border-radius: 8px;
  border-color: transparent;
  border-width: 1px;
  box-shadow: none;
  /* border-image: none; background-image:none */
}

.completion-list {
   /* The list of possible completions, in a completion entry */
}

/*
 * Tooltips
 */
/*
@define-color theme_tooltip_bg_color #ffffee;
@define-color theme_tooltip_fg_color black;
*/

/*
 * Editors
 * Control the color of links displayed in the status bar of editors
 */
/*
-GtkWidget-link-color: @link_color;
-GtkWidget-visited-link-color: @link_color;
*/
