/*
 * Custom styling for GPS.
 */

/* You can override the default theme colors. Most gtk+ themes are
 * carefully setup so that they do not hard-code colors, but use a number
 * of predefined named colors and shades of them. For instance:
 */
/*
   @define-color base_color black;
   @define-color bg_color #fff;
   @define-color theme_bg_color green;
   @define-color theme_tooltip_bg_color yellow;
*/

* {
  
   /* Reduce the size of the scroll arrows in notebooks */
   -GtkWidget-scroll-arrow-hlength: 8;
   -GtkWidget-scroll-arrow-vlength: 8;
   -GtkNotebook-arrow-spacing: 0;
}

.gps-task-manager GtkProgressBar {
   -GtkProgressBar-min-horizontal-bar-height: 1;
}

.gps-local-toolbar {  /* local toolbar in the panes/views */
}

GtkTextView.readonly {
   /* for read-only editors */
   /* background-color: rgb(200,200,200); */
}

.mdi tab GtkLabel, .mdifocused tab GtkLabel { 
   color:   @theme_fg_color;
   opacity: 1.0;
}

/* Uncomment this if you want to have the same behavior as in previous
 * GPS releases: the active tab of the active notebook gets a blue background
 * to make it quicker to find where keyboard input goes */
/*
.notebook.mdifocused tab:active,
.notebook.mdifocused tab.left:active,
.notebook.mdifocused tab.right:active {
   background-image: none;
   background-color: rgba(0,0,255,0.2);
}
*/

/* When the MDI tabs are displayed on the left or on the right, we do not
 * want an extra space at the top, before the first tab
 */
.notebook.leftTabs, .notebook.rightTabs {
   -GtkNotebook-initial-gap: 0;
}

/* Let's condense things in the local toolbars of the views */
.gps-local-toolbar {
   background: shade(@theme_base_color, 0.9);
   padding: 0px;
}

.gps-editor-status-bar {
   background: shade(@theme_base_color, 0.93);
}

.gps-switches-editor GtkScrolledWindow {
   background: @theme_base_color;
}

.gps-local-toolbar * {
   margin: 0px;
   padding: 0px;
}

/* Search and filter fields */
GtkEntry.search {
  border-radius: 3px;
  border-color: transparent;
  border-width: 1px;
  box-shadow: none;
  padding-left: 2px;
}

.completion-list {
   /* The list of possible completions, in a completion entry */
}
@define-color middle-gray #888888;
@define-color completion-border-color shade (@theme_base_color, 0.7);
@define-color completion-selected-color mix(@theme_base_color, @middle-gray, 0.5);
@define-color completion-background-color shade(@theme_base_color, 1.10);
@define-color completion-notes-color mix(shade(@theme_base_color, 1.40), @middle-gray, 0.2);
@define-color completions-notes-text-color mix(@theme_fg_color, @middle-gray, 0.2);

#completion-frame {
    border-style:solid;
    border-width:1px;
    border-color: @completion-border-color;
    background-color: @completion-background-color;
    margin: 5px;
    padding: 5px;
}

.window-rounded {
    border-radius: 4px;
}

#completion-scroll {
    margin: 5px;
    padding: 5px;
}

#completion-view {
    background-color: @completion-background-color;
}

#completion-view:selected {
    background-color: @completion-selected-color;
    border-radius: 5px;
    color:@theme_fg_color;
}

#notes-window {
    padding:20px;
    margin:20px;
}

#notes-frame {
    border-color: @completion-border-color;
    background-color: @completion-notes-color;
    padding: 5px;
}

#notes-frame * {
    background-color: @completion-notes-color;
    color: @completions-notes-text-color;
    text-shadow: none;
}

/*
 * Tooltips
 */
/*
@define-color theme_tooltip_bg_color #ffffee;
@define-color theme_tooltip_fg_color black;
*/

/*
 * Editors
 * Control the color of links displayed in the status bar of editors
 */
/*
-GtkWidget-link-color: @link_color;
-GtkWidget-visited-link-color: @link_color;
*/

/* Use the following to change the color of the selection
GtkTextView:selected { background : pink ; color : black }
*/

/**
 * An example on how to redefine left and right keys so that they navigate
 * up and down in the tree views (instead of just left and right between
 * columns). The best here is to use the default up and down keys though.
 * See also the treemove.py plug-in.
 */

/*
@binding-set gtk-gps-tree-view {
   bind "Right" { "move-cursor" (display-lines, 1) };
   bind "Left" { "move-cursor" (display-lines, -1) };
}
GtkTreeView { gtk-key-bindings: gtk-gps-tree-view; }
*/
