.. My_Project documentation master file, created by
   sphinx-quickstart on Fri Mar 29 14:24:11 2013.
   You can adapt this file completely to your liking, but it should at least
   contain the root `toctree` directive.

Indices and tables
==================

**Contents:**

@_PRINTOUT_@

* :ref:`search`

