div.summary:before
{
   content: "Summary: ";
   font-weight: bold;
}
div.summary
{
   border-bottom: 1px dotted #e0e0e0;
}

div.description:before
{
   content: "Description: ";
   font-weight: bold;
}
div.description
{
   font-style: italic;
   border-bottom: 1px dotted #e0e0e0;
}

div.parameter *
{
   font-style: italic;
   color: #444;
   display: inline;
}

div.exception:before
{
   content: "Exception: ";
   font-weight: bold;
}

div.return:before
{
   content: "Returns: ";
   font-weight: bold;
}

div.seealso:before
{
   content: "See also: ";
   font-weight: bold;
}
div.seealso
{
   font-style: italic;
}
div.subprograms div.comment div.code
{
   font-family: monospace;
   white-space: pre-wrap;
}
div.subprograms div.comment div.code p
{
   padding: 0;
}
